@charset "UTF-8";
#start{
    padding: 6px;
    margin: 18px;
    font-size: 20px;
    margin: 10px;
}
#select{
    font-size: 18px;
    padding: 3px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}
